@import './base.css';

#app {
  /*max-width: 1280px;*/
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.4s;
  padding: 0.5rem 1rem;
}

.btn {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.4s;
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-accent);
  background-color: transparent;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover, .btn:hover {
    background-color: var(--color-accent-light);
  }
  a:active, .btn:active {
    background-color: var(--color-accent-medium);
  }
}
